form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset-form {
    display: flex;
    flex-direction: column;
}

h2 {
    margin: 20px;
    color: rgb(100, 100, 100);
}

.status-info {
    color: rgb(100, 100, 100);
    font-size: 16px;
}

.info-pop-up{
    display: none;
    color: rgb(100, 100, 100);
}

mat-icon {
    position: absolute;
    top: 6px;
    left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-icon:hover+.info-pop-up {
    width: 90px;
    font-size: 12px;
    padding: 10px;
    display: block;
    position: absolute;
    left: 230px;
    top: 0px;
}