<app-logo></app-logo>
<form>
    <h2>Zresetuj hasło</h2>
    <div class="reset-form">
        <mat-form-field appearance="standard">
            <mat-label>Login</mat-label>
            <input matInput placeholder="Login" type="email" id="login" name="login" [(ngModel)]="userDataInputs.login">
            <mat-icon fontIcon="help" color="primary" class="error"></mat-icon>
            <div class="info-pop-up">Podaj e-mail do zmiany hasła</div>
        </mat-form-field>
    </div>
    <p class="status-info">{{statusInfo}}</p>
    <button mat-raised-button color="primary" (click)="resetPassword()">Wyślij</button>
</form>